# Office Hour Discussions

**How to modify the data type?**

In [1]:
import pandas as pd

In [7]:
# Load the "example1213.txt" file
df = pd.read_csv("Data/temp/example1213.txt")
df

   Unnamed: 0     datetime     ID
0           0   12/12/2021  12345
1           1   12/13/2021  54321
2           2   12/14/2021  67890

In [8]:
df.columns

Index(['Unnamed: 0', 'datetime', 'ID'], dtype='object')

In [9]:
df.dtypes

Unnamed: 0     int64
datetime      object
ID             int64
dtype: object

In [10]:
# Convert datetime column from object to datetime data type.
pd.to_datetime(df['datetime'])

0   2021-12-12
1   2021-12-13
2   2021-12-14
Name: datetime, dtype: datetime64[ns]

In [11]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.dtypes

Unnamed: 0             int64
datetime      datetime64[ns]
ID                     int64
dtype: object

Now, take a look at the bus_breakdown_and_delay data set.

In [24]:
data = pd.read_csv("Data/temp/Bus_Breakdown_and_Delays.csv")
data.head().T

C:\Users\lzhao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4
School_Year,2015-2016,2015-2016,2015-2016,2015-2016,2015-2016
Busbreakdown_ID,1227538,1227539,1227540,1227541,1227542
Run_Type,Special Ed AM Run,Special Ed AM Run,Pre-K/EI,Special Ed AM Run,Special Ed AM Run
Bus_No,2621,1260,418,4522,3124
Route_Number,J711,M351,3,M271,M373
Reason,Heavy Traffic,Heavy Traffic,Heavy Traffic,Heavy Traffic,Heavy Traffic
Schools_Serviced,75003,06716,C445,02699,02116
Occurred_On,11/05/2015 08:10:00 AM,11/05/2015 08:10:00 AM,11/05/2015 08:09:00 AM,11/05/2015 08:12:00 AM,11/05/2015 08:13:00 AM
Created_On,11/05/2015 08:12:00 AM,11/05/2015 08:12:00 AM,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,11/05/2015 08:14:00 AM
Boro,New Jersey,Manhattan,Bronx,Manhattan,Manhattan
Bus_Company_Name,"RELIANT TRANS, INC. (B232",HOYT TRANSPORTATION CORP.,"G.V.C., LTD.","RELIANT TRANS, INC. (B232","RELIANT TRANS, INC. (B232"
How_Long_Delayed,NaN,20MNS,15MIN,15 MIN,NaN
Number_Of_Students_On_The_Bus,11,2,8,6,6
Has_Contractor_Notified_Schools,Yes,Yes,Yes,No,No
Has_Contractor_Notified_Parents,No,Yes,Yes,No,No
Have_You_Alerted_OPT,Yes,No,Yes,No,No
Informed_On,11/05/2015 08:12:00 AM,11/05/2015 08:12:00 AM,11/05/2015 08:13:00 AM,11/05/2015 08:14:00 AM,11/05/2015 08:14:00 AM
Incident_Number,NaN,NaN,NaN,NaN,NaN
Last_Updated_On,11/05/2015 08:12:14 AM,11/05/2015 08:13:34 AM,11/05/2015 08:13:22 AM,11/05/2015 08:14:04 AM,11/05/2015 08:14:08 AM
Breakdown_or_Running_Late,Running Late,Running Late,Running Late,Running Late,Running Late
School_Age_or_PreK,School-Age,School-Age,Pre-K,School-Age,School-Age

In [13]:
data.shape

(458335, 21)

In [14]:
data.dtypes

School_Year                        object
Busbreakdown_ID                     int64
Run_Type                           object
Bus_No                             object
Route_Number                       object
Reason                             object
Schools_Serviced                   object
Occurred_On                        object
Created_On                         object
Boro                               object
Bus_Company_Name                   object
How_Long_Delayed                   object
Number_Of_Students_On_The_Bus       int64
Has_Contractor_Notified_Schools    object
Has_Contractor_Notified_Parents    object
Have_You_Alerted_OPT               object
Informed_On                        object
Incident_Number                    object
Last_Updated_On                    object
Breakdown_or_Running_Late          object
School_Age_or_PreK                 object
dtype: object

In [17]:
# Try to correct the dtype of "Occurred_On"
data['Occurred_On'] = pd.to_datetime(data['Occurred_On'])

In [20]:
data['Created_On'] = pd.to_datetime(data['Created_On'])

In [23]:
data['Bus_No'].unique

<bound method Series.unique of 0           2621
1           1260
2            418
3           4522
4           3124
           ...
458330      1881
458331     21610
458332    GT1488
458333       682
458334       410
Name: Bus_No, Length: 458335, dtype: object>

In [21]:
data.dtypes

School_Year                                object
Busbreakdown_ID                             int64
Run_Type                                   object
Bus_No                                     object
Route_Number                               object
Reason                                     object
Schools_Serviced                           object
Occurred_On                        datetime64[ns]
Created_On                         datetime64[ns]
Boro                                       object
Bus_Company_Name                           object
How_Long_Delayed                           object
Number_Of_Students_On_The_Bus               int64
Has_Contractor_Notified_Schools            object
Has_Contractor_Notified_Parents            object
Have_You_Alerted_OPT                       object
Informed_On                                object
Incident_Number                            object
Last_Updated_On                            object
Breakdown_or_Running_Late                  object
School_Age_or_PreK                         object
dtype: object

In [25]:
data.isnull().sum()

School_Year                             0
Busbreakdown_ID                         0
Run_Type                                3
Bus_No                                 12
Route_Number                            7
Reason                                  2
Schools_Serviced                        7
Occurred_On                             0
Created_On                              0
Boro                                11190
Bus_Company_Name                        0
How_Long_Delayed                    49719
Number_Of_Students_On_The_Bus           0
Has_Contractor_Notified_Schools         0
Has_Contractor_Notified_Parents         0
Have_You_Alerted_OPT                    0
Informed_On                             0
Incident_Number                    447558
Last_Updated_On                         0
Breakdown_or_Running_Late               0
School_Age_or_PreK                      0
dtype: int64

In [26]:
data['Occurred_On'].max()

'12/31/2020 08:00:00 AM'

In [27]:
data['Occurred_On'].min()

'01/02/2018 01:04:00 PM'